body {
    background-color: white;
    font-family: 'Noto Serif', serif; 
    margin: 10px; 
}

.dogs_playing {
    display: none; 
}

.hidden {
    display: none; 
}


.join_us {
    background-color: #50a6aa; 
    padding: 20px; 
    border: 5px solid #a7b3a5; 
    margin-bottom: 10px; 
}

.join_us h1 {
    color: #1d609c; 
}

.friends_flex {
    display: flex; 
    justify-content: center;
    margin-top: 20px;  
}

.friends{
    width: 300px; 
    height: 300px;  
    border: 5px solid #bf8357;  
    border-radius: 250px; 
}


.dog_month{
    background-color: #ddb3b3; 
    padding: 20px; 
    border: 5px solid #a7b3a5; 
    margin-bottom: 10px; 
}

.rex_flex {
    display: flex; 
    justify-content: center;
    margin-top: 20px;  
}

.rex {
    width: 300px;
    height: 300px;
    border: 5px solid #bf8357;  
    border-radius: 250px; 
}


form {
    width: 100%; 
    display: flex; 
    justify-content: center; 
}


.name {
    text-transform: uppercase; 
    font-family: 'Oswald', sans-serif;
    text-align: center; 
    color: #436e8a; 
    font-size: 36px; 
}

h1 {
    text-transform: uppercase; 
    font-family: 'Oswald', sans-serif;
    text-align: center; 
    color: #50a6aa; 
    font-size: 36px; 
}

.events-container {
    background-color: #50a6aa; 
    padding: 20px; 
    padding-bottom: 10px; 
    border: 5px solid #a7b3a5; 
    opacity: 0.5em; 
}

.events-container h1{
    color: #1d609c; 
}


 .nav_bar {
    display: flex; 
    flex-direction: column;  
    margin: 0;
} 

ul_nav {
    justify-content: center; 
    align-items: center; 
}

li_nav {
    justify-content: center; 
    align-items: center; 
}


.events h2 {
    text-align: center; 
    border-bottom: 1px solid #bf8357; 
    padding-bottom: 20px;   
}

h4 {
    text-align: center; 
    font-size: 18px; 
    padding: 0; 
    margin: 0; 
}


ul {
    list-style: none; 
    padding: 1rem; 
}

li {
    margin: 0 auto; 
    padding: 5px; 
}

footer {
    background-color: #d8bb52; 
}

footer ul {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    padding: 10px; 
}

a:link {
    color: #6B7A8F; 
}

.spots{
    display: none; 
} 

label {
    text-align: center; 
    margin-bottom: 0.5rem; 
    margin-top: 1rem; 
    width: 100%; 
}

